<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <script>
      var coverSupport = "CSS" in window && typeof CSS.supports === "function" && (CSS.supports("top: env(a)") || CSS.supports("top: constant(a)"))
      document.write('<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' + (coverSupport ? ", viewport-fit=cover" : "") + '" />')
    </script>
    <title>创建数字人</title>
    <link rel="stylesheet" href="./static/css/index.css" />
    <!-- 使用 BootCDN 的 Vue 2 CDN 链接 -->
    <script src="./static/js/vue.min.js"></script>
    <script src="./static/js/jquery.min.js"></script>
    <!-- 引入 Vue.js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
  </head>
  <body>
    <div id="app" style="display: flex; flex-direction: column">
      <!-- 自定义导航栏 -->
      <!-- <custom-navbar title="创建数字人" :is-bg="ture"></custom-navbar> -->
      <!-- 顶部导航 -->
      <div class="flex-between">
        <div v-for="(item, index) in tabs" :key="index" class="top-item" :class="{active: isSelect === item.id}">
          <!-- @click="handleChange(item.id)" -->
          {{ item.label }}
        </div>
      </div>
      <div class="xuanfu">
        <!-- Tab 内容区域 -->
        <!-- v-if="isSelect == 1||isSelect==2&&authorizeLz" -->
        <div style="height: 100%" id="tabOne">
          <div id="luzhi" style="height: 100%">
            <video id="video" autoplay muted playsinline style="width: 100%; height: 100%; object-fit: cover; transform: scaleX(-1)"></video>
            <div class="camera-box">
              <div class="flex-between" style="margin-top: 18px">
                <!-- <img style="width: 32px;height: 32px;" src="./static/chat/guanbi.png"
									@click="back" alt="" /> -->
                <div></div>
                <div id="countdown" class="countdown" v-if="seconds">{{seconds}}</div>
                <img style="width: 28px; height: 28px" src="./static/chat/fanzhuan.png" @click="getflip" alt="" />
              </div>

              <div class="camera-bor">
                <div class="camera-text" v-if="!authorizeLz">
                  <div class="text1" style="color: #ffffff">录制时可以自然微笑，保持放松</div>
                  <div class="text2">您好！我现在感觉很好，语调很轻，我很有信心能做好这次视频录制。我现在就在镜头前，准备开始。</div>
                  <div class="text1" style="color: #ffffff">闭上嘴，用鼻子呼吸，停顿1s</div>
                  <div class="text2">光线很好，我脸上没有任何刺眼的</div>
                </div>
                <div class="camera-text text2" v-if="authorizeLz">我 {{userName}} 本人特此声明，授权拓诊使用我的视频创作数字人</div>
              </div>
              <div class="endTime ac" id="endTime" v-if="endTime>0">{{endTime}}</div>
              <canvas id="mirrorCanvas" style="display: none"></canvas>
              <button class="btn mt90 width163" @click="toggleRecord" v-if="!isTake&&!isRecording">开始录制</button>
            </div>
          </div>
          <div id="videoUrl" style="height: 100%; padding: 0 20px; width: calc(100% - 40px); display: none" class="disflexShu">
            <div class="video-box">
              <div class="trash-box">
                <img src="./static/chat/delVideo.png" style="width: 24px; height: 24px" @click="handleDel" alt="" />
              </div>
              <video id="myVideo" class="video" show-fullscreen-btn="false" controls type="video/mp4"></video>
              <div class="text-box" id="tips" v-if="authorizeLz"></div>
            </div>
            <div v-if="!authorizeLz">
              <div class="text4">为获得更佳、更逼真的头像，请确认视频符合如下需求</div>
              <div class="grid" id="circleGrid"></div>
              <div style="display: flex; justify-content: center">
                <button id="submitBtn" class="mt90 width163" @click="updateVideo">确认提交</button>
              </div>
            </div>
            <div v-if="authorizeLz" class="flex-between mt30" style="padding: 0px !important; width: 100% !important; justify-content: center">
              <!-- <button class="btn1 width163" @click="handleChange">重新授权</button> -->
              <button class="width163" id="shouquantijiao" :class="isSbm?'btn2':'btn1'" style="margin: 0px !important" @click="authorizeTijiao">提交</button>
            </div>
          </div>
        </div>
        <div class="disflexShu" style="height: 100%; display: none" id="tabTwo">
          <!-- <div>{{isSelect}}</div> -->
          <div style="display: flex; flex-direction: column; align-items: center" id="tabTwoTop">
            <div id="videoShow" class="videoShow">
              <video id="myVideoTwo" class="verticalVideo" show-fullscreen-btn="false" controls type="video/mp4"></video>
            </div>
            <div class="text4 mt30">为了防止滥用技术，我们需要确认刚刚提交的视频是你本人</div>
            <video class="video" style="height: 172px; width: 336px" v-if="videoTwo" :src="videoTwo" show-fullscreen-btn="false" controls type="video/mp4"></video>
            <button v-if="videoTwo" class="width163 btn mt30" @click="zenmirrorTijiao">提交</button>

            <div class="up-box ac" v-if="!videoTwo">
              <img src="./static/chat/xiangji.png" style="width: 32px; height: 32px" alt="" />
              <div class="text text3 mt10">请确保与刚才拍摄提交的视频为同一人</div>
              <div class="btn2" @click="handleSbm">开始录制</div>
            </div>

            <!-- 弹窗 -->
            <div id="myModal" class="modal" @click.stop="myModalNone">
              <div class="modal-content">
                <!-- <span class="close">&times;</span> -->
                <div class="text5 mt20">授权提示</div>
                <div style="margin-top: 27px; height: 30px; display: flex; align-items: center">
                  我
                  <input type="text" style="width: 87px; height: 24px; line-height: 24px; text-align: center; margin: 0px 5px" id="nameInput" placeholder="输入姓名" @click.stop />
                  将对拓诊进行授权
                </div>
                <div id="authorizeBtn" @click.stop="authorizeLuzhi">立即授权录制</div>
              </div>
            </div>
          </div>
          <!-- <div id='luzhitwo' style="height: 100%;display: none;">
						<video id="video" autoplay playsinline
							style="width:100%;height:100%;object-fit: cover;"></video>
						<div class="camera-box">
							<div class="flex-between" style="margin-top: 18px;">
								<img style="width: 32px;height: 32px;" src="./static/chat/guanbi.png"
									@click="handelClose" alt="" />
								<div id="countdown" class="countdown">
									00:00:{{times >9?times:('0'+times)}}
								</div>
								<img style="width: 28px;height: 28px;" src="./static/chat/fanzhuan.png" @click="getflip"
									alt="" />
							</div>

							<div class="camera-bor">
								<div class="camera-text text2">我 {{userName}} 本人特此声明，授权拓诊使用我的视频创作数字人
								</div>
							</div>
							<div class="endTime ac" id='endTime'>{{endTime}}</div>
							<button class="btn mt90 width163" @click="toggleRecord"
								v-if="!isTake&&!isRecording">开始录制</button>
						</div>
					</div> -->
          <!-- <div class="ac">
						<video :src="videoUrl" class="video"></video>
					</div> -->
        </div>
        <div id="tabThree" style="display: none" class="ac mt90 disflexShu">
          <img src="./static/chat/complete.png" style="width: 80px; height: 80px" alt="" />
          <div class="text mt30">上传成功，正在生成中...</div>
          <div class="text mt10">大约需要10分钟</div>
          <button class="btn mt90 width163" @click="back">返回首页</button>
        </div>
      </div>
    </div>
    <script src="./static/js/app.js"></script>
  </body>
</html>
